* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	background-color: #ecf0f3;
}

.login {
	width: 330px;
	height: 600px;
	padding: 60px 35px 35px 35px;
	border-radius: 40px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
				-13px -13px 20px #ffffff;
	animation: fadeIn ease 3s;
  	-webkit-animation: fadeIn ease 3s;
  	-moz-animation: fadeIn ease 3s;
  	-o-animation: fadeIn ease 3s;
  	-ms-animation: fadeIn ease 3s;

}

.logo {
	background: url("birupink.jpg");
	background-size: contain;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0px 0px 2px #5f5f5f,
				0px 0px 0px 5px #ecf0f3,
				8px 8px 15px #a7aaaf,
				-8px -8px 15px #ffffff;
}

.title {
	text-align: center;
	font-size:  28px;
	padding-top: 24px;
	letter-spacing: 0.5px;
}

.sub-title {
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
	letter-spacing: 3px;
}

.fields {
	width: 100%;
	padding-top: 50px;
}

.fields input {
	border: none;
	outline: none;
	background: no-repeat;
	font-size: 18px;
	color: #555;
	padding: 15px;
}

.username, .password {
	margin-bottom: 30px;
	border-radius: 25px;
	box-shadow: inset 8px 8px 8px #cbced1,
				inset -8px -8px 8px #ffffff;
}

.signin-btn {
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 50px;
	border-radius: 30px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: center;
	background: #6287d6;
	box-shadow: 3px 3px 8px #b1b1b1,
				-3px -3px 8px #ffffff;
				transition: 0.5s;
}

.signin-btn:hover, .signin-btn:active {
 	background: #425f9f; 
}

.link {
	padding-top: 20px;
	text-align: center;
}

.link a {
	text-decoration: none;
	color: #aaa;
	font-size: 15px
}

@keyframes fadeIn{
  	0% {
    	opacity:0;
  	}
  	100% {
    	opacity:1;
  	}
}

@-moz-keyframes fadeIn {
  	0% {
    	opacity:0;
  	}
  	100% {
    	opacity:1;
  	}
}

@-webkit-keyframes fadeIn {
  	0% {
    	opacity:0;
  	}
  	100% {
    	opacity:1;
  	}
}

@-o-keyframes fadeIn {
  	0% {
    	opacity:0;
  	}
  	100% {
    	opacity:1;
  	}
}

@-ms-keyframes fadeIn {
  	0% {
    	opacity:0;
  	}
  	100% {
    	opacity:1;
  	}
}